{% extends 'base.html' %}
{% block title %}Django-Studio | Home{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        Hello {{user.email}}
        <h2>Create a new project</h2>
        <a href="{% url 'logout' %}">Log Out</a>
        <a href="{% url 'generator:project' %}" target="_blank" class="main-btn" rel="noopener noreferrer">Create New Project</a>
    {% else %}
        <p>Please login or create an account</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}
</body>
</html>